/* GOOGLE FONTS______________ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;900&display=swap');
/* font-family: 'Montserrat',sans-serif; */

body {
    font-family: 'Montserrat',
        sans-serif;
}

#home {
    background: url(../img/background/full-bg.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.button {
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1.5rem;
    color: white;
}

:root {
    --primary-highlight-color: #4c5d9b;
    --primary-color: #6d88d8;
    --primary-text-color: #5a6e79;

    --card-bg-1: #f1e3fc;
    --card-bg-2: #e3fcfa;
    --card-bg-3: #fcf0e3;
    --card-bg-4: #c1e3f7;
    --card-bg-5: #f1e3fc;

    --highlight-green: #43cb83;

    --footer-color-1: #252c3a;
    --footer-color-2: #1d232e;
    --footer0-text-color: #969595;
}

/* ----------------------------------
          SECTION ONE CSS
-------------------------------- */
#section-1 {
    position: relative;
}

/* CUSTOMIZING BOOTSTRAP NAVBAR_______*/
.navbar {
    /* background-color: white; */
}

.navbar-brand img {
    width: 60px;
}

/* TOGGLER BTN CSS */
.navbar-toggler:focus {
    box-shadow: none;
}

.bar {
    height: 2px;
    width: 40px;
    background-color: var(--primary-color);
    margin: 10px 0;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-nav .nav-link {
    font-size: 16px;
    color: #5a6e79;
}

.navbar-nav .nav-link.active {
    font-size: 16px;
    color: var(--primary-highlight-color);
    font-weight: bold;
}

.hero-area {
    padding-top: 5%;
    height: 500px;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    position: relative;
}

.bg-student {
    width: 700px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.hero-area h1 {
    text-align: center;
    font-size: 50px;
    color: var(--primary-color);
    font-weight: 900;
    text-shadow: 5px 10px 10px #4e77f128;
    margin-bottom: 30px;
    z-index: 10;
}

.hero-area p {
    text-align: center;
    color: var(--primary-text-color);
}

.hero-area .bg-student {
    text-align: center;
}

.hero-area .button_area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-area .button {
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 15px;
    color: white;
    text-decoration: none;

}

.apply-btn {
    color: var(--primary-color);
    transition: 0.5s;
    font-size: 15px;
    text-decoration: none;
    background-color: white;
    padding-top: 10px 20px;
    border-radius: 50px;
    box-shadow: 5px 5px 40px #73c6e980;
}

.alart-section {
    margin-top: 50px;
}

/* ----------------------------------
          SECTION TOW CSS
-------------------------------- */
#section-2 {
    margin-top: 50px;
}

.section_heading {
    font-weight: bold;
    color: var(--primary-highlight-color);
    text-align: center;
    margin-bottom: 30px;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 30px;
}

.card-title {
    text-align: center;
}

.card-1 {
    background: var(--card-bg-1);
}

.card-2 {
    background: var(--card-bg-2);
}

.card-3 {
    background: var(--card-bg-3);
}

.card-4 {
    background: var(--card-bg-4);
}

.card-5 {
    background: var(--card-bg-5);
}

.card-body img {
    width: 20%;
    margin-bottom: 30px;
}

/* ----------------------------------
          SECTION THREE CSS
-------------------------------- */
#section-3 {
    padding-top: 100px;
    /* background: url(../img/background/sectioin03-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
}

#section-3 .container {
    display: flex;
}


#section-3 .video_area img {
    border-radius: 100%;
    border: 30px solid #ddf1fa;
    padding: 15px;
    width: 100%;
    max-width: 400px;
    height: auto;

}

#section-3 .content_area {
    padding-top: 30px;
}

#section-3 .content_area h2 {
    font-size: 40px;
    color: #43cb83;
}

#section-3 .content_area p {
    color: #5a6e79;
}


/* ----------------------------------
          SECTION ONE CSS
-------------------------------- */
#section-4 {
    height: 250px;
    background: url(../img/background/apply-area-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 200px;
    margin-bottom: 200px;
}

#section-4 .apply-content-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 100px;
}

#section-4 .apply-form-area {
    display: flex;
    justify-content: flex-end;
}

/* CSS FORM__________________ */

.login-box {
    margin-top: -100px;
    max-width: 400px;
    padding: 40px;
    background: white;
    box-sizing: border-box;
    box-shadow: 5px 10px 25px rgba(75, 75, 75, 0.5);
    border-radius: 5px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: rgba(10, 46, 38, 0.616);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    color: #5a6e79;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #d7e4ed;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 14px;
    color: #5a6e79;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #39e687c7;
    font-size: 12px;
}

.form-check-label {
    font-size: 12px;
    color: #9da3a7;
    font-weight: 400;
    margin-bottom: 10px;
}

.form-check-input:checked {
    background-color: #39e687c7;
}


/* Vandors Butons */

#section-4 .submit-btn {
    display: block;
    line-height: 40px;
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
    color: #5a6e79;
    font-weight: bold;
    border: 2px solid #d7e4ed;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    border-radius: 5px;
}

#section-4 .submit-btn span {
    position: relative;
    z-index: 2;
    padding: 10px 20px;
}

#section-4 .submit-btn:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background: #43cb83;
    transition: all .35s;
    border-radius: 3px;
    color: white;
}

#section-4 .submit-btn:hover {
    color: #fff;
    font-weight: bold;
}

#section-4 .submit-btn:hover:after {
    width: 100%;
}

.login_ancher {
    font-size: 12px;
    color: #5a6e79;
}

/* ----------------------------------
          SECTION ONE CSS
-------------------------------- */
#section-5 {
    margin-bottom: 70px;
}

#section-5 .post-section {
    display: flex;
    /* justify-content: space-between; */
}

.post-section .content_area a:nth-child(1) {
    font-size: 30px;
    color: var(--highlight-green);
    display: block;
    text-decoration: none;

}

.post-section .content_area a:nth-child(2) {
    color: var(--primary-text-color);
    display: block;
    text-decoration: none;
}

.post-section .button_area {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}

.post-section .button_area a {
    text-decoration: none;
    color: white;
    background: var(--highlight-green);
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: 300;
    font-size: 15px;
}


/* FOOTER STYLEING */

footer {
    /* position: absolute; */
    /* bottom: 0;
    left: 0;
    right: 0; */
    background: #111;
    height: auto;
    width: 100vw;
    /* font-family: "Open Sans"; */
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;

}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-bottom .copyright-text {
    margin-bottom: 0;
}